@import url(http://fonts.googleapis.com/css?family=Lato:300);


.container-loader{
	text-align: center;
	background-color: white;
	overflow: hidden;
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 2000;
}
/* -------------- loader6 -------------- */

.loader{
	position: relative;
	width: 12px;
	height: 12px;

	top: 46%;
	top: -webkit-calc(50% - 6px);
	top: calc(50% - 6px);
	left: 46%;
	left: -webkit-calc(50% - 6px);
	left: calc(50% - 6px);

	border-radius: 12px;
	background-color: #333;
	-webkit-transform-origin:  50% 50%;
			transform-origin:  50% 50% ;
	-webkit-animation: loader6 1s ease-in-out infinite;
			animation: loader6 1s ease-in-out infinite;
}

.loader:before{
	content: "";
	position: absolute;
	background-color: rgba(0, 0, 0, .5);
	top: 0px;
	left: -25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}

.loader:after{
	content: "";
	position: absolute;
	background-color: rgba(0, 0 ,0 ,.5);
	top: 0px;
	left: 25px;
	height: 12px;
	width: 12px;
	border-radius: 12px;
}


@-webkit-keyframes loader6{
    0%{-webkit-transform:rotate(0deg);}
    50%{-webkit-transform:rotate(180deg);}
    100%{-webkit-transform:rotate(180deg);}
}

@keyframes loader6{
    0%{transform:rotate(0deg);}
    50%{transform:rotate(180deg);}
    100%{transform:rotate(180deg);}
}
