.iradio_square-blue {
  margin-top: 5px; }

.page-with-fab-btn {
  padding-bottom: 70px !important; }

.btn-fab {
  position: fixed;
  bottom: 5px;
  right: 20px;
  margin-left: -32px;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  line-height: 50px;
  z-index: 100; }

.enlace {
  cursor: pointer; }

.categoria {
  padding-top: 10px;
  border-top: 3px solid transparent;
  overflow: hidden;
  margin-bottom: 10px;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .categoria:hover {
    background-color: white;
    cursor: pointer; }
  .categoria span {
    line-height: 50px; }
  .categoria.ingreso {
    color: #00a65a; }
  .categoria.egreso {
    color: #dd4b39; }
  .categoria.active {
    border-radius: 3px;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin-bottom: 9px; }
    .categoria.active.ingreso {
      border-top-color: #00a65a; }
    .categoria.active.egreso {
      border-top-color: #dd4b39; }

@media(max-width: 767px) {
  .main-header .logo {
    display: none; }

  .main-sidebar, .control-sidebar {
    padding-top: 50px; } }

/*# sourceMappingURL=lucamila.css.map */
