.iradio_square-blue
    margin-top: 5px
.page-with-fab-btn
    padding-bottom: 70px !important
.btn-fab
    position: fixed
    bottom: 5px
    right: 20px
    margin-left: -32px
    height: 64px
    width: 64px
    border-radius: 50%
    line-height: 50px
    z-index: 100
.enlace
    cursor: pointer
.categoria
    padding-top: 10px
    border-top: 3px solid rgba(0,0,0,0)
    overflow: hidden
    margin-bottom: 10px
    text-overflow: ellipsis
    white-space: nowrap
    &:hover
        background-color: white
        cursor: pointer
    span
        line-height: 50px
    &.ingreso
        color: #00a65a
    &.egreso
        color: #dd4b39
    &.active
        //background-color: white
        border-radius: 3px
        //background: #f0f0f0
        //box-shadow: 0 1px 1px rgba(0,0,0,0.1)
        border-bottom: 1px solid #ddd
        border-left: 1px solid #ddd
        border-right: 1px solid #ddd
        margin-bottom: 9px
        &.ingreso
            border-top-color: #00a65a
        &.egreso
            border-top-color: #dd4b39
@media(max-width: 767px)
    .main-header .logo
        display: none
    .main-sidebar, .control-sidebar
        padding-top: 50px
