body, #wrapper, #page-content-wrapper
    overflow-x: hidden
#page-content-wrapper
    padding: 0px
.page-with-flat-btn
    padding-bottom: 70px !important
#sidebar-wrapper
    background-color: #F7F7F7
    .sidebar-nav
        li
            a
                color: #333 !important
.navbar-header
    min-width: 100%
.navbar-button
    float: left
    margin-left: 15px
.navbar-default
    margin-bottom: 0px
.navbar-more
    position: relative
    float: right
    padding: 9px 10px
    margin-top: 8px
    margin-bottom: 8px
    background-color: transparent
    background-image: none
    border: 1px solid transparent
    border-radius: 4px
.login
    background-color: #F7F7F7
    .form-signin
        max-width: 300px
        margin: 0 auto
        margin-top: 100px
@media(min-width: 768px)
    #wrapper
        padding-left: 250px !important

    #sidebar-wrapper
        width: 250px !important
.btn-fab
    position: fixed
    bottom: 5px
    left: 50%
    margin-left: -32px
    height: 64px
    width: 64px
    border-radius: 50%
    line-height: 50px
.btn-flat
    height: 36px
    min-width: 64px
    margin-top: 6px
    margin-bottom: 6px
    margin-left: 8px
    margin-right: 8px
    padding-left: 8px
    padding-right: 8px
    color: #2196f3 !important

.categoria
    padding: 10px
    &:hover
        background-color: #eee
        cursor: pointer
    span
        line-height: 50px
    &.active
        background-color: #eee
.xs-center
    text-align: center
.xs-left
    text-align: left
.xs-right
    text-align: right
h1
    font-size: 21px
h2
    font-size: 18px
h3
    font-size: 15px
h4
    font-size: 14px
h5
    font-size: 12px
h6
    font-size: 11px
p
    font-size: 11px
@media screen and (min-width: 480px)
    h1
        font-size: 26px
    h2
        font-size: 22px
    h3
        font-size: 18px
    h4
        font-size: 15px
    h5
        font-size: 12px
    h6
        font-size: 11px
    p
        font-size: 12px
    .sm-center
        text-align: center
    .sm-left
        text-align: left
    .sm-right
        text-align: right
@media screen and (min-width: 720px)
    h1
        font-size: 31px
    h2
        font-size: 26px
    h3
        font-size: 21px
    h4
        font-size: 16px
    h5
        font-size: 13px
    h6
        font-size: 12px
    p
        font-size: 14px
    .md-center
        text-align: center
    .md-left
        text-align: left
    .md-right
        text-align: right
@media screen and (min-width: 1200px)
    h1
        font-size: 36px
    h2
        font-size: 30px
    h3
        font-size: 24px
    h4
        font-size: 18px
    h5
        font-size: 14px
    h6
        font-size: 12px
    p
        font-size: 16px
    .lg-center
        text-align: center
    .lg-left
        text-align: left
    .lg-right
        text-align: right
